
@media only screen and (max-width: 700px){
    
    .Info{
        width: 100%;
        padding-top: 20px;
    }
    .DP{
        width: 20vw !important;
        padding-left: 5px;
    }
    .NewsBox{
        width: 80vw;
        max-width: 200px;
    }
    .Box{
        height: 20vh;
        line-height: 20vh;
        width: 100vw;
        font-size: 4vh;
    }
    .Box:hover{
        line-height: 30vh;
        font-size: 5vh;
    }
    .Name{
        font-size: 18vh;
    }
    .LinksClass{
        width: 100%;
    }
    .NavBar{
        background-position: left bottom;
    }
}
/*For Navbar*/
@media only screen and (max-width: 450px){
    .Nav{
        display: none;
    }
    .MainBG{
        height: 100vh !important;
    }
    
}