
  /* Heading */
  .nameClass{
    text-align: center;
  }
  .Name {
    text-align: center;
    font-family: 'Carter One', cursive;
    font-weight: bolder;
    /* -webkit-text-stroke: 1px black; */
    text-shadow: 3px 3px 25px black;
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 8vw;
    animation: Headline 2s ease-out 0s 1 normal forwards;
  }
  
  @keyframes Headline {
    0% {
      top: 40vh;
      font-size: max(7vw, 7vh);
      opacity: 0;
    }
    100% {
      top: 5vh;
      font-size: max(8vw, 8vh);
      opacity: 1;
    }
  }
  
  @keyframes Phrase {
    0% {
      top: 20vh;
      font-size: 0vw;
      opacity: 0;
    }
    100% {
      top: 0vh;
      font-size: max(3vh, 3vw);
      opacity: 1;
    }
  }
  .Phrase {
    /* position: relative; */
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    font-size: 3vw;
    color: white;
    animation: Phrase 2.4s ease-out 0s 1 normal forwards;
  }
  .MainBG {
    background-image: url(../../Images/.BG/BG7.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 100vh;
    position: relative;
    opacity: 1;
  }
  
  .opacity1{
    animation: opacity1 1s ease 0s 1 normal forwards;
  }
  
  .opacity0{
    animation: opacity0 1s ease 0s 1 normal forwards;
  }
  
  @keyframes opacity1 {
    0%{
      /* opacity: 0.4; */
      filter: blur(8px);
    }
    100%{
      filter: blur();
    }
  }
  @keyframes opacity0 {
    0%{
      filter: blur();
    }
    100%{
      filter: blur(8px);
    }
  }
  

  @media only screen and (max-width: 450px){
    .MainBG{
        height: 100vh !important;
    }
  }
  @media only screen and (max-width: 700px){
    .Name{
        font-size: 18vh;
    }
  }