* {
  margin: 0px;
  padding: 0px;
}
body {
  /* background-color: #f4ede7; */
  background-color: #151414;
  color: white;
  user-select: none;
  box-sizing: border-box;
  padding: 0;
}
ul{
  margin: 0;
}
