<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div style="font-family: Helvetica,Arial,sans-serif;min-width:1000px;overflow:auto;line-height:2">
  <div style="margin:50px auto;width:70%;padding:20px 0">

    <div style="border-bottom:1px solid #eee">
      <a href="" style="font-size:1.4em;color: #00466a;text-decoration:none;font-weight:600">
        Deepak Multi Services
      </a>
    </div>

    <p style="font-size:1.1em">
        Hi <%= user.name %>
    </p>
    <p>
        There was a request to change your password! 
    </p>
    <p>
        No changes have been made to your account yet.
    </p>
    <p>
        Click on the following link to reset your password:
    </p>
    <h2 style="background: #00466a;margin: 0 auto;width: max-content;padding: 0 10px;color: #fff;border-radius: 4px;"> 
        <a href=`<%= link %>` style="text-decoration : 'none';">
            Verify
        </a>
    </h2>
    <p>
        If you did not request a password reset, please ignore this email or reply to let us know.
    </p>
    <p style="font-size:0.9em;">
        Regards, <br />
        DMS
    </p>
    <hr style="border:none;border-top:1px solid #eee" />

    <div style="float:right;padding:8px 0;color:#aaa;font-size:0.8em;line-height:1;font-weight:300">
      <p>Deepak Multi Services</p>
      <p>Jai Bhavani Nagar</p>
      <p>Auranagabad</p>
    </div>
  </div>
</div>

</html>